<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Kristian Colville">
<meta name="description" content="A simple e-commerce website">
<meta name="keywords" content="da shop, shop, my shop, the shop website, buy now, shop now, shop online, give me your money">
<meta name="robots" content="index, follow">
<meta name="copy-right" content="Kristian Colville">
<meta name="language" content="English">
<meta name="canonical" content="https://www.dashop.ie.com">
<meta http-equiv="cache-control" content="no-cache" />
<title>Da Shop</title>