---
layout: layouts/frame.njk
---

{% set paths = [
{"title": "Entertainment and Arts", "url": "/entertainment-and-arts"},
{"title": "Oliver Anthony", "url": "/entertainment-and-arts/oliver-anthony-rich-men-north-of-richmond"}
]
%}

{% set info = "Christopher Anthony Lunsford (born 30 June 1992), known professionally as Oliver Anthony Music (or simply
Oliver Anthony), is an American country-folk singer-songwriter. " ~
"In August 2023, he released the single 'Rich Men North of Richmond' independently, which debuted atop the Billboard Hot
100 and made Lunsford the first artist to achieve this without any prior charting history in any form. " ~
"- Wikipedia" %}


{% import "templates/video-page.njk" as pageLayout %}
{{ pageLayout.render(paths, "https://www.youtube.com/embed/sqSA-SY5Hro?si=us9r2SybEbCTIl00", info) }}