---
layout: layouts/frame.njk
---

{% set paths = [
{"title": "Entertainment and Arts", "url": "/entertainment-and-arts"},
{"title": "Zach Bryan", "url": "/entertainment-and-arts/zach-bryan-something-in-the-orange"}
] %}

{% set info = "Zachary Lane Bryan (born April 2, 1996) is an American country singer-songwriter and rock musician from Oologah,
Oklahoma. After two self-produced studio albums—DeAnn (2019) and Elisabeth (2020)—he signed with Warner Records to
release his third album and major label debut, American Heartbreak (2022), which peaked at number five on the Billboard
200 and was led by the Billboard Hot 100-top ten single, 'Something in the Orange'. His self-titled fourth album (2023)
debuted atop the Billboard 200, while its lead single, 'I Remember Everything' (featuring Kacey Musgraves), peaked atop
the Billboard Hot 100, Hot Country Songs, and Hot Rock & Alternative Songs charts simultaneously, also earning him a
Grammy Award for Best Country Duo/Group Performance. His fifth studio album, The Great American Bar Scene (2024), peaked
at number two on the Billboard 200 and spawned the Billboard Hot 100 top-ten single 'Pink Skies'.

Throughout his career, Bryan has been recognized with several awards including an Academy Award of Country Music Award,
a Grammy Award and four Billboard Music Awards. He has sold over 30 million albums and singles, according to the
Recording Industry Association of America (RIAA). - Wikipedia" %}

{% import "templates/video-page.njk" as pageLayout %}
{{ pageLayout.render(paths, "https://www.youtube.com/embed/lA8F9sIhGdg?si=OqL_imJ7mGXPF1Cn", info) }}