---
layout: layouts/frame.njk
---
<main class="container">
    <div>
        <h1 class="title-text my-5 mx-2">About Us</h1>
        <h3 class="text-primary mx-2">Satire, Laughs, Giggles and all seriousness</h3>
        <hr class="heading-hr mx-2">
    </div>
    <div class="row main-content mt-2">
        <div class="col-sm-12 col-md-7 m-2">
            <p class="text-justify">
                Have you ever been cruelly robbed of a good ol' giggle? Stripped of your right to chortle without fear?
                Perhaps you
                teeter dangerously on the edge of being <em>offensive</em>—or worse, <em>rude</em>.
            </p>

            <p class="text-justify mt-2">
                Well, worry no more! The <strong>Daily Satire</strong>, founded in 2019, exists
                solely to
                provide you with <em>budget-friendly smirks, discount chuckles, and wholesale belly laughs</em>—all at
                <strong>your</strong> expense, of course.
            </p>

            <p class="text-justify mt-2">
                But be warned: <strong>Do not attempt these stunts alone.</strong> Many animals perished in the making
                of this news
                empire. In fact, we <em>choke a chicken</em> every time you refresh this page—scientifically proven to
                make news
                travel faster.
            </p>

            <p class="text-justify mt-2">
                We believe in <strong>free speech</strong>—your <em>absolute, unquestionable, divinely ordained</em>
                right to say
                whatever you want, whenever you want, to whomever you want. We don't have to like it. We don't even have
                to agree.
                But rest assured, we will <strong>fight for your right to be insufferable</strong>.
            </p>

            <p class="text-justify mt-2">
                And finally, in our <strong>tireless</strong> quest to fight modern outrage culture, we've implemented a
                bold
                initiative: <strong>For every "I'm offended" uttered on the news, The Daily Satire will donate 5 euros
                    to the Donald
                    Trump 2024 campaign.</strong> You're welcome.
            </p>


        </div>
        <div class="col-sm-12 col-md-5 m-2">
            <img src="/assets/images/about/about.jpg" alt="About Us" class="img-fluid">
        </div>
    </div>
</main>