---
layout: frame.njk
---
<div class="container">
    <div class="row main-content">
        <h1 class="col-12 py-2 mt-5 mx-2">TOP STORIES</h1>
        <div class="col-sm-12 col-md-8 col-lg-9 position-relative">
            {% include "templates/big-news-card.njk" %}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            {% include "aside.njk" %}
        </div>
    </div>
</div>