{% macro field(title, description, date, url, imgSrc)%}
<article class="col-sm-12 col-md-4 col-lg-3 pb-4 m-2">
    <a href="{{url}}" class="text-white text-decoration-hover">
        <div style="width:100%;height:160px;background: url({{imgSrc}}) center center;background-size:cover"
            class="rounded shadow-hover"></div>
        <div class="m-2">
            <p class="py-2 fw-light fs-5">{{title}}</p>
            <p class="py-2 fw-light">{{description}}</p>
            <p class="py-2">{{date}}</p>
        </div>

    </a>
</article>
{% endmacro %}