{% macro field(url, title, description, date)%}
<article class="col-sm-12 col-md-4 pb-4">
    <a href="{{url}}" class="text-white text-decoration-hover">
        <img src="/assets/images/placeholder.webp" alt="Placeholder image" width="100%" class="rounded">
        <p class="text-center py-2">{{title}}</p>
        <p class="py-2">{{description}}</p>
        <p class="py-2">{{date}}</p>
    </a>
</article>
{% endmacro %}