<div class="row position-relative">

    <div class="big-news-card col-12 text-dark">
        <div class="row big-news-card-inner m-2 rounded">
            <div class="col-sm-12 col-md-7 col-lg-8">
                <img src="/assets/images/news/main-article-small.jpg" alt="News Image" width="600px" height="400px" class="article-img">
            </div>
            <div class="col-sm-12 col-md-5 col-lg-4">
                <p class="text-center mt-5">News content goes here.</p>
            </div>
        </div>
    </div>
    <span class="news-badge">BREAKING<i class="arrow fa-solid fa-arrow-right"></i></span>
</div>