<div class="breaking-news-banner">
    <div class="breaking-news-content">
        <p>BREAKING NEWS:</p>
        <p>DVolodymyr Zelenskyy sparks out Donald Trump... |</p>
        <p>Keir Starmer grooms a gang of puppies... |</p>
        <p>Germany opts in for Russian energy dependence... |</p>
        <p>Andrew tate got no place to go... |</p>
    </div>
</div>