<header class="container fluid">
    <nav class="container">
        {% include "components/brand.njk" %}
        <input type="checkbox" id="menu-toggler" />
        <label for="menu-toggler" class="d-none-md menu-toggler-icon">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div class="nav-wrapper">
            <ul class="nav-list">
                {% include "components/nav-items.njk" %}
            </ul>
        </div>
    </nav>
</header>