<footer class="container fluid  bg-grey">
    <div class="container">
        <div class="row py-5">
            <div class="col-12">
                <p class="text-center">&copy; 2025 The Daily Satire</p>
            </div>
        </div>
    </div>
</footer>