<header class="container fluid">
    <nav class="container">
        <img src="/assets/images/logo-dark.svg" width="200px" height="auto" id="brand-logo"/>
        <input type="checkbox" id="menu-toggler" />
        <label for="menu-toggler" class="d-none-md menu-toggler-icon">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div class="nav-wrapper">
            <ul class="nav-list">
                <li class="nav-item"><a href="#">Home</a></li>
                <li class="nav-item"><a href="#">About</a></li>
                <li class="nav-item"><a href="#">Contact</a></li>
                <li class="nav-item"><a href="#">Blog</a></li>
                <li class="nav-item"><a href="#">Latest News</a></li>
                <li class="nav-item"><a href="#">Shop</a></li>
                <li class="nav-item d-none-md"><a href="#">Toggle</a></li>
            </ul>
        </div>
    </nav>
</header>