.big-news-card {
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow: hidden;
    cursor: pointer;
}

.big-news-card-inner {
    background-color: var(--icterine);
}

.news-badge {
    color: var(--black-1);
    bottom: 3rem;
    font-weight: 900;
    position: absolute;
    left: 0;
    background-color: var(--icterine);
    border: 1px solid var(--black-1);
    padding: 1rem;
    transition: all 0.5s ease-in-out;
}

.news-badge .arrow {
    display: none;
}

.big-news-card:hover ~ .news-badge {
    padding-right: 3rem;
    transition: all 0.5s ease-in-out;
}

.big-news-card:hover ~ .news-badge .arrow {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    color: var(--black-1);
    transition: all 0.5s ease-in-out;
}