@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --black-1: #111;
    /* copied from sky news */
    --black-2: #333;
    --black-3: #555;
    --black-4: #777;
    --black-5: #999;
    --black-6: #252525;
    /* copied from sky news */
    --blue: #2aa2e1;
    /* copied from sky news */

    /* CSS HEX https: //coolors.co/111111-44af69-f8333c-fffd82-f26df9 */
    --night: #111111ff;
    --jade: #44af69ff;
    --imperial-red: #f8333cff;
    --icterine: #fffd82ff;
    --ultra-pink: #f26df9ff;
}

/* Reset CSS */
* {
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    background-color: var(--black-1);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

aside {
    width: 100%;
}

/* margin only */

.m-2 {
    margin: 1rem;
}

.mx-2 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mt-5 {
    margin-top: 3rem;
}


/* padding only */
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* text only */
.text-center {
    text-align: center;
}

/* display only */
.d-flex {
    display: flex;
}

/* background only */
.bg-grey {
    background-color: var(--black-6);
}

/* position only */
.position-relative {
    position: relative;
}

@media screen and (min-width: 768px) {
    .d-none-md {
        display: none;
    }
}