<ul>
    <li class="nav-item w-100"><a href="tel:0504210754">+353504210754</a></li>
    <li class="nav-item w-100"><a href="mailto:support@thedailysatire.ie">Support@thedailysatire.ie</a>
    </li>
</ul>