<li class="nav-item {{'active' if page.url == '/' }}"><a href="/">Home</a></li>
<li class="nav-item {{'active' if '/about' in page.url }}"><a href="/about">About</a></li>
<li class="nav-item {{'active' if '/entertainment-and-arts' in page.url }}"><a href="/entertainment-and-arts">Ent & Arts</a></li>
<li class="nav-item {{'active' if '/latest-news' in page.url }}"><a href="/latest-news">Latest News</a></li>
<li class="nav-item {{'active' if '/contact' in page.url }}"><a href="/contact">Contact</a></li>