{% macro field(link) %}
<div class="video-player-wrapper">
    <iframe class="video-player rounded shadow" src="{{link}}?autoplay" title="YouTube video player" frameborder="0"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
{% endmacro %}