---
layout: layout.njk
---
<div class="container fluid">
    {% include "header.njk" %}
    <div class="container">
        <div class="container-m-wrapped">

            {{ content | safe }}
        </div>
    </div>

</div>